<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <!--<link rel="stylesheet" href="theme.css" type="text/css">-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
  <div class="py-5 bg-dark">
    <div class="container">
      <div class="row">
        {% if data.weather_description and data.w_icon and data.coordinate and data.temp and data.mintemp and data.maxtemp and data.feel%}
        <div class="p-5 col-md-7 d-flex flex-column justify-content-center">
          <h3 class="display-4 mb-3 text-light" >{{data.city}}'s Weather</h3>
          <span><img src={{data.w_icon}} width="64" height="64"></span>
          <p class="mb-4 lead text-light" >Current Temp: {{data.temp}}</p>
          <p class="mb-4 lead text-light">Max Temp: {{data.mintemp}}</p>
          <p class="mb-4 lead text-light">Min Temp: {{data.maxtemp}}</p>
        </div>
        <div class="p-5 col-md-5">
          <!-- <h3 class="mb-3 text-light">Type a City:</h3> -->
          <form method ="post">
            <div class="form-group text-light"> <label>City Name</label> <input type="text" class="form-control" placeholder="Type here" name="city"> </div>
            <div class="form-group text-light"> <label>State</label> <input type="text" class="form-control" placeholder="Type here" name="state"> </div>
            <button type="submit" class="btn mt-4 btn-block btn-outline-light p-2"><b>Discover The Weather</b></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="py-5 text-center bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-3">A Flask Weather App Demo</h1>
          <p>A simple Weather Flask App Demo. Unfournately sharing Python applications is combersome. I wanted to learn <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a> to be able to have an additional tool to share Python functionality with less technical users. In this Demo application I use Openweathermap.org's free "One Call API" in combination with the "Current Weather Data" API. Additionally, designed a basic webpage utilizing bootstrap.&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center d-md-flex justify-content-between align-items-center">
          <p class="text-center col-md-12 text-dark">© Julius J.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
 <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
 </body>

</html>